doctype html
html
  head
    title Login - Exercise Tracker
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/navbar.css")
    link(rel="stylesheet", href="/auth.css")
  body
    include navbar

    .auth-page
      .auth-container
        h1 Login
        if errorMessage
          p.error-message= errorMessage
        form(method="POST", action="/authenticate")
          input(type="email", name="email", placeholder="Email", required)
          input(type="password", name="password", placeholder="Password", required)
          button(type="submit") Login
        p.link
          | Don't have an account?
          a(href="/register") Register here
