doctype html
html
  head
    title Exercise Tracker
    link(rel="stylesheet", href="/navbar.css")
  body
    nav
      .logo Exercise Tracker
      ul.nav-links
        li: a(href="/") Home
        li: a(href="/about") About Us
        li: a(href="/contact") Contact Us
        li: a(href="/dashboard") Dashboard


